.login {
    width: 100%;
    padding: 30px 30px 44px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
    max-width: 50rem;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
  }
  
  .h3 {
    margin: 0 0 30px;
    font-weight: 100;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.38);
  }
  
  .control {
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  
  .control label,
  .control input {
    display: block;
  }
  
  .control label {
    
    flex: 1;
    color: #464646;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    flex: 3;
    font: inherit;
    padding: 0.35rem 0.35rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .control input:focus {
    outline: none;
    border-color: #175f02;
    background: #f6dbfc;
  }
  
  .control.invalid input {
    border-color: red;
    background: #fbdada;
  }
  
  .actions {
    text-align: center;
  }
  
  @media (min-width: 768px) {
    .control {
      align-items: center;
      flex-direction: row;
    }
  
  }