/* Stil za formu za unos nove kategorije */
.novi-frizer-input2 {
    margin-right: 10px;
    margin-top: 50px;
  }

  .top {  
    margin-top: 10%;
  }

  .prvidiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .prvidiv .novi-frizer-input {
    margin-bottom: 2%;
  }

  .prvidiv .novi-frizer-input-izmena {
    margin-bottom: 2%;
  }

  
  /* Stil za listu kategorija */
  ul {
    list-style-type: none;
    padding: 0;
    width: 30%;
    margin: 0 auto; /* Automatsko centriranje */
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  li button {
    margin-left: 10px;
  }
  
  /* Stil za input polje za izmenu kategorije */
  .novi-frizer-input-izmena {
    margin-right: 10px;
  }
  
  /* Stil za dugme za čuvanje izmene */
  .sacuvaj-izmenu-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .sacuvaj-izmenu-button:hover {
    background-color: #45a049;
  }

  @media only screen and (max-width: 1600px) {
    .kategorijekartice {
      width: auto;
      max-width: 100%;
      width: 50%;
    }
    
  }

  @media only screen and (max-width: 470px) {
    .kategorijekartice {
      width: auto;
      max-width: 100%;
      width: 60%;
    }
  }