.bigcalendar {
  background-color: white;
  margin-top: 50px;
  height: 500px;
  
  }
  .kalendarroditelj {  display: flex;
    justify-content: center;}
  .kalendar{
  
  width: 85%;
  }
  
  .calendar-button {
      background-color: red; /* Crvena boja pozadine */
      color: white; /* Bela boja teksta */
      border: none; /* Bez ivica oko dugmeta */
      padding: 8px 12px; /* Razmak unutar dugmeta */
      border-radius: 4px; /* Zaobljeni uglovi */
      cursor: pointer; /* Pokazivač pri hoveru iznad dugmeta */
      margin:5px;
    }

    .calendar-button:nth-child(2) {
      background-color: blue;
    }
    
    /* Promena boje teksta kada je dugme deaktivirano */
    .calendar-button:disabled {
      background-color: gray; /* Siva boja pozadine */
      cursor: not-allowed; /* Zabranjeni pokazivač pri hoveru iznad dugmeta */
    }