/* Statistika.css */
.statistika {
  padding: 40px;
}
.calendar {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px;
}

.event-table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;

  margin: auto;
}

.event-table th,
.event-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.event-table th {
  background-color: #f2f2f2;
}

.event-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.event-table tbody tr:hover {
  background-color: #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 15px;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-link.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.MuiTextField-root {
  margin: 15px; /* Dodajte željeni razmak između TextField komponenti */
}
