.dugmenazad {
  position: fixed;
  top: 90px;
  left: 30px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1000;
  border: none;
  background-color: transparent;
}

.dugmenazad:hover {
  color: blue;
}

.arrow {
  font-size: 1.5rem;
  font-weight: 900;
}
