.edit-kontejner {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.edit-polja {
    width: 50%;
}

.naslov-editusluga {
    font-family: 'Cardo', serif;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .edit-kontejner {
       width: 100%; /* Puni širina ekrana */
       align-items: center;
       justify-content: center;
       margin: auto;
     }
     
     .edit-polja {
       width: 50%; /* Puni širina ekrana */
     }   
   }