.frizer-kontejner {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
}

.frizer-polje {
    width: 50%;
}

.frizer-naslov {
    text-transform: uppercase;
}

@media (max-width: 600px) {
   .frizer-kontejner {
      width: 100%; /* Puni širina ekrana */
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: 70px;
    }
    
    .novi-frizer-input {
      width: 50%; /* Puni širina ekrana */
    }   
  }