.input-kontejner {
    display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 100px;
  font-family: "Bai Jamjuree", sans-serif;
}

.input-polja {
    width: 50%;
    font-family: "Bai Jamjuree", sans-serif;
}

.naslov-novausluga {
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
}

@media (max-width: 600px) {
    .input-kontejner {
       width: 100%; /* Puni širina ekrana */
       align-items: center;
       justify-content: center;
       margin: auto;
       margin-top: 50px;
     }
     
     .input-polja {
       width: 50%; /* Puni širina ekrana */
     }   
   }