@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');

.slika1 {
    position: absolute;
    left: 999px;
    top: 150px;
    width: 492px;
    height: 700px;
    border: 5px solid #FFCA42;
    border-radius: 7px;
};

.sekcija-1 {
    background-color: #1B3764;
}

.tekst1 {
    /* Dobro dosao */
position: absolute;
width: 197px;
height: 37px;
left: 100px;
top: calc(50% - 37px/2 - 450px);

font-family: 'Cardo', serif;
font-weight: 400;
font-size: 21.8px;
line-height: 154.5%;

display: flex;
align-items: center;
letter-spacing: -0.02em;

color: #FFFFFF;
padding: 309px;
}

.tekst2 {
    /* Luka bickeji /
width: 360px;
height: 144px;
font-family: 'Cardo';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 110%;
/ or 72px /
letter-spacing: -0.02em;
color: #FFFFFF;
/ Inside auto layout /
/ flex: none;
order: 0;
flex-grow: 0; */

padding: 309px; 
position: absolute;
left: 100px;
top: calc(50% - 37px/2 - 420px);
}

.tekst3 {
    /* Pazljivo procitajte usluge... */ 
    width: 520px;
    height: 62px;
    font-family: 'IBM Plex Sans Thai';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.41px;
    color: #9586A8;
    padding: 309px;
    position: absolute;
    left: 100px;
    top: calc(50% - 37px/2 - 240px);
}

.dugme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 53px 21px;
    gap: 10px;
    width: 278px;
    height: 65px;
    background: #FFCA42;
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    transform: translate(146%, 1040%) scale(1);
}