/* Stil za video pozadinu */




.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ovaj stil će omogućiti da video pokriva celu pozadinu */
  z-index: -1;
  filter: brightness(50%);
}



video {
  max-width: 100%;
  height: auto;
}



/* Stil za centralni sadržaj */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  
}

/* Stil za naslov */
h1 {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 10px;
  font-family: 'Teko', sans-serif;
  
}

/* Stil za podnaslov */
h2 {
  font-size: 3.5rem;
  color: black;
  margin-bottom: 20px;
  font-family: 'Teko', sans-serif;
  
}

/* Stil za dugme */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #ffca42;
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: 'Teko', sans-serif;
}

.button:hover {
  /* background-color: #ffca1f;  */
  background-color: #0056b3;
}

/* Ažurirani stil za Navbar */
.navbar-target {
  background-color: transparent; /* Transparentna pozadina */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1; /* Ispred video pozadine */
  transition: background-color 0.3s, transform 0.3s; /* Animacija za boju i transformaciju */
}

/* Ažurirani stil za logo u Navbar-u */
.logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1); /* Povećanje na hoveru */
}

/* Ažurirani stil za linkove u Navbar-u */
.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-right: 20px;
  transition: color 0.3s; /* Animacija za promenu boje teksta */
}

/* Ažurirani stil za aktivan link u Navbar-u */
.navbar-link.active {
  color: #ffd700; /* Zlatna boja za aktivan link */
}

/* Ažurirani stil za linkove u Navbar-u na hover */
.navbar-link:hover {
  color: #ffd700; /* Zlatna boja na hoveru */
}

.instaIcon {
  width: 50px; /* Adjust the size as needed */
  height: 40px;
}

.instagram {
  margin-top: 10px; /* Adjust the margin as needed */
}

.container .firstImage {
  display: block;
  width: 80px; /* Promenjeno za manji logo */
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
}

@media screen and (max-width: 768px) {
  .container .firstImage {
    position: fixed;
    top: 100px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 2560px) {
  .container .firstImage {
    position: fixed;
   top: 100px;
   width: 110px; /* Promenjeno za manji logo */
  height: 110px;
  border-radius: 50%;
  }
}


@media only screen and (max-width: 768px) {
  .video-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: scale(2.5); /* Prilagodite faktor skaliranja prema potrebi */
  }
}