/* Uvoz fonta "Bai Jamjuree" */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');



/* Osnovni stilovi za navbar */
.navbar {
  background: #333; /* tamna pozadina */
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.navbar-logo img {
  height: 50px;
  width: auto;
}

/* Stilovi za navigacioni meni */
.navbar-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
  text-align: center;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.navbar-menu a:hover,
.navbar-menu a.active-link {
  color: #f39c12; /* akcenat, npr. narandžasta */
}

/* Hamburger dugme - skriveno na desktopu */
.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.navbar-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Animacija za hamburger kada je otvoren */
.navbar-toggle.open .bar:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

.navbar-toggle.open .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.open .bar:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}

/* Responsive stilovi */
@media (max-width: 768px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    background-color: #444;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    align-items: center;
    pointer-events: none;
    font-family: "Bai Jamjuree", sans-serif;
  }
  
  .navbar-menu.open {
    transform: translateX(0);
    pointer-events: auto;
  }
  
  .navbar-menu a {
    width: 100%;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  
  .navbar-toggle {
    display: flex;
  }
}
