.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B3764;
    color: #fff;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  } 
  .yellow-button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .yellow-button:hover {
    background-color: #ffcc00; /* žuta nijansa za hover */
  }