@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

:root {
  --font-family: "Bai Jamjuree", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll; /* Dozvoli samo vertikalno skrolovanje */
  overflow-x: hidden;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px 0;
}

h1, h2, h3, h4, h5, h6,
p, span, a, button, input, textarea, select, option,
li, ol, ul, 
div, section, article, nav, footer, header, aside, main,
table, th, td {
  font-family: "Bai Jamjuree", sans-serif;
}

code {
  font-family: "Bai Jamjuree", sans-serif;
}

input, button, textarea, select {
  font-family: "Bai Jamjuree", sans-serif;
}

.MuiInputLabel-root {
  font-family: "Bai Jamjuree", sans-serif !important;
}

.MuiSelect-root,
.MuiMenuItem-root,
.MuiInputBase-root {
  font-family: "Bai Jamjuree", sans-serif !important;
}
.MuiTextField-root {
  font-family: "Bai Jamjuree", sans-serif !important;
}
.MuiButton-root {
  font-family: "Bai Jamjuree", sans-serif !important;
}